<p>
  products works!
</p>

<div class="products-container">
  <mat-card *ngFor="let product of productsList">
    <mat-card-header>
      <mat-card-title>
        {{product.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{product.header}}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="img-container">
      <img mat-card-image src="{{product.imageUrl}}">
    </div>
    
    <mat-card-content>
      <p>{{product.desc}}</p>
    </mat-card-content>
  </mat-card>
</div>